@model TravelAgency.Models.Airlines

@{
    ViewData["Title"] = "Details";
}



    <div style="margin-right:auto;
                     width:fit-content;
                     font-size:large;
                     font-weight:100;
                     text-emphasis-color:brown;
                     margin-left: auto;
                     background-color:sandybrown;
                     padding: 10vh;
                     border-radius: 0 0 10px 10px;">
        <h2>Details</h2>
        <h4>Airlines</h4>
        <hr />

        @*<dl class="dl-horizontal">*@
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
