
<div>

    <div class="modal-header" style="display: flex;
    flex-direction: row-reverse;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <h4 class="modal-title" style="margin-top:8vh" id="myModalLabel">Order successfully completed!!</h4>

</div>


@section Scripts{
    <script src="~/js/search.js"></script>
}
