
@{
    ViewData["Title"] = "OrderGraph";
}


<div class="chart"></div>
@section Scripts
    {
    <script>
    var data = @ViewBag.data;
    </script>
    <script src="~/js/OrderGraph.js"></script>
}
