@model TravelAgency.Models.OrderPassagers

@{
    ViewData["Title"] = "Create";
}
    <div  style="margin-right: auto;
    width:fit-content;
    font-size:large;
    font-weight:100;
    text-emphasis-color:brown;
    margin-left: auto;
    color:brown;
    background-color:sandybrown;
    padding: 10vh;
    border-radius: 0 0 10px 10px;">
        <h2>Create</h2>

        <h4>OrderPassagers</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="PassangerId" class="control-label"></label>
                        <select asp-for="PassangerId" class="form-control" asp-items="ViewBag.PassangerId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrderId" class="control-label"></label>
                        <select asp-for="OrderId" class="form-control" asp-items="ViewBag.OrderId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
    </div>