
@using System.Web;
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->

    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <!-- Custom fonts for this template -->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="manifest" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='logo' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='preload' type='text/css'>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <!--    Custom styles for this template -->
    <link href="~/css/agency.css" rel="stylesheet">
    <script src="~/lib/jquery/jquery-ui.js"></script>
    <script src="~/js/jquery-1.11.3.min.js"></script>
</head>

<body id="page-top">
    <nav style="color:black" class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container" style="">
            <strong><a class="navbar-brand js-scroll-trigger" asp-controller="Home" asp-action="Index" style="color:#b78a62; font-family:Broadway;font-size:x-large; text-decoration:double;">TRAVEL AGENCY</a></strong>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" style="color:black;">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <strong style="all:unset;visibility:visible; background:center;">
                <div style="font-size:large;font-family:Stencil;" class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ml-auto">
                        @if (ViewData["IsDirector"] != null && (bool)ViewData["IsDirector"] == true)
                        {
                            <li class="nav-item" style="color:#b78a62;">
                                <a class="nav-link js-scroll-trigger" style="color:#b78a62;font-size:larger;" href="~/Airlines">Airlines</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" style="color:#b78a62;font-size:larger;" href="~/Airports">Airports</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" style="color:#b78a62;font-size:larger;" href="~/Clients">Clients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" style="color:#b78a62;font-size:larger;" href="~/Home/About">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" style="color:#b78a62;font-size:larger;" href="~/Home/Contact">Contact</a>
                            </li>
                        }
                        else if (ViewData["userName"] != null && ViewData["userName"].ToString() != "")
                        {
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" style="color:#b78a62;font-size:larger;" href="~/Orders/OrderHistory">Order History</a>
                            </li>
                        }
                        


                        @if (ViewData["userName"] != null && ViewData["userName"].ToString() != "")
                        {
                            <li style="margin-left: 6vw;" class="nav-item">
                                <a class="nav-link js-scroll-trigger" style="color:#b78a62;font-size:larger;">Hello, @ViewData["userName"]</a>
                            </li>
                            <li style="margin-left: 6vw;" class="nav-item">
                                <a class="nav-link js-scroll-trigger" style="color:#b78a62;font-size:larger;" href="~/Clients/Logout">Logout</a>
                            </li>
                            @*<li>@Html.ActionLink("Logout", "Logout", "Home")</li>*@
                        }
                        else
                        {
                            <li style="margin-left: 6vw;" class="nav-item">
                                <a class="nav-link js-scroll-trigger" style="color:#b78a62;font-size:larger;" href="~/Clients/Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link js-scroll-trigger" style="color:#b78a62;font-size:larger;" href="~/Clients/Register">Register</a>
                            </li>

                        }
                    </ul>
                </div>
        </div>
    </nav>

    @RenderBody()
    <!-- Footer -->
    <footer class="footer"></footer>
    @RenderSection("Scripts", required: false)
</body>
</html>


